@charset "UTF-8";
body {
    background-color: rgba(114, 64, 148, 0.514);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: rgba(122, 103, 17, 0.89);
}
h2 {
    color: darkred;
}
p {
    text-align: justify;
}