@charset "UTF-8";

* {
    font: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #4183D9, #021859);

}
main {
    background-color: white;
    border-radius: 10px;
    width: 600px;
    box-shadow: 5px 5px 15px #e6722f;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #e6722f;
    text-align: center;
    text-shadow: 1px 1px 2px #ce662a;
}
h2 {
    color: #4183D9;
}

p {
    text-align: justify;
}